/*Documents import*/
/*Fonts*/
@font-face {
  font-family: "Shrikhand";
  src: url("../polices/Shrikhand-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}
@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto-Regular-webfont.ttf");
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}
@font-face {
  font-family: "Roboto-bold";
  src: url("../polices/Roboto-Bold-webfont.ttf");
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}
/*Colors*/
body {
  width: 80%;
  margin: auto;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: black;
  border-left: solid 2px #eaeaea;
  border-right: solid 2px #eaeaea;
}
@media all and (max-width: 750px) {
  body {
    width: 100%;
  }
}

header {
  text-align: center;
  margin: auto;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 2em;
  padding-top: 10px;
  margin: 0;
}

h2 {
  width: 70%;
  margin: auto;
  font-family: "Roboto-bold";
  font-size: 1.5em;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  width: 30%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 15px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
}
.button a {
  color: white;
}
@media all and (max-width: 750px) {
  .button {
    width: 50%;
  }
}

.custom-home-search {
  background-color: #eaeaea;
  background: linear-gradient(to bottom, #cecece, #eaeaea, #eaeaea, #eaeaea, #eaeaea, #eaeaea, #eaeaea, #eaeaea);
}
.custom-home-search .fas.fa-map-marker-alt {
  /*Localisation incon*/
  position: relative;
  color: black;
  font-size: 1.4em;
  margin: 20px 0;
  padding-left: 20px;
}
@media all and (max-width: 750px) {
  .custom-home-search .fas.fa-map-marker-alt {
    font-size: 1em;
  }
}
.custom-home-search input {
  border: none;
  background-color: #eaeaea;
  font-family: "Roboto-bold";
  color: black;
  font-size: 1.4em;
}
.custom-home-search input::placeholder {
  color: black;
}
@media all and (max-width: 750px) {
  .custom-home-search input {
    font-size: 1em;
  }
}

/*Header*/
/*Search*/
.head {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: -16px;
  text-align: center;
}
.head__nav {
  width: 50%;
  padding-top: 30px;
  text-align: center;
  border-bottom: solid 2px #f6f6f6;
}
.head__text {
  background-color: #f6f6f6;
  width: 50%;
  padding-top: 30px;
  font-size: 1.2em;
}
@media all and (max-width: 750px) {
  .head {
    display: block;
  }
  .head__nav {
    width: 100%;
    padding: 30px 0 10px 0;
  }
  .head__text {
    width: 100%;
    padding: 30px 0 10px 0;
  }
}

nav h2 {
  margin-left: 40px;
}
nav ul {
  margin-bottom: 50px;
  margin-top: -20px;
}
nav ul li {
  margin: 60px;
}
nav .num {
  position: relative;
  z-index: 2;
  background-color: #9356DC;
  padding: 2px 7px;
  border-radius: 25px;
  color: #f6f6f6;
  font-size: 0.8em;
}
nav .txt {
  position: relative;
  z-index: 1;
  font-family: "Roboto-bold";
  background-color: #f6f6f6;
  box-shadow: 3px 3px 6px #eaeaea, -3px 3px 6px #eaeaea;
  padding: 20px 50px 20px 20px;
  border-radius: 20px;
  margin-left: -10px;
}
nav .txt i {
  color: #7e7e7e;
  font-size: 1.2em;
}

.fas.fa-mobile-alt, .fas.fa-store {
  padding: 0 10px;
}

.fas.fa-ellipsis-v {
  padding-left: 10px;
}

.fas.fa-bars {
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
