.custom-home-search {
    position: relative;
    z-index: 2;
    background-color: $background;
    background: linear-gradient(to bottom, $shadow, $background, $background, $background, $background, $background, $background, $background);
    
    .fas.fa-map-marker-alt {  /*Localisation incon*/
        position: relative;
        @include form;
        margin: 20px 0;
        padding-left: 20px;
        @media all and (max-width: 750px) {
            font-size: 1em;
        }
    }

    input {
        border: none;
        background-color: $background;
        font-family: 'Roboto-bold';
        @include form;
        &::placeholder {
            color: black;
        }
        @media all and (max-width: 750px) {
            font-size: 1em;
        }
    }
}