.button {
    width: 40%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 15px;
    background: linear-gradient($color-secondary, $color-primary);
    border-radius: 30px;
    font-family: 'Roboto';
    font-size: 1em;
    text-align: center;
    a {
        @include link-text-color (white);
    }
    a[title="Commander"] {
        font-family: 'Roboto';
        font-size: 1.2em;
        text-align: center;
    }
    &:hover {
        transform: scale(1.05);
        transition: .3s;
    }
    @media all and (max-width: 900px) {
        width: 60%;
    }
}

.button.button-pages {
        width: 200px;
    }