@keyframes fadein {
    0% {
        opacity:0;
        margin-top: 20px;
    }
    25% {
        opacity: 0.2;
        margin-top: 16px;
    }
    75% {
        opacity: 0.8;
        margin-top: 4px;
    }
    100% {
        opacity:1;
        margin-top: 0;
    }
}

 @for $i from 1 through 13 {
    .delay-#{$i} {
        animation: fadein 0.5s 0.1s*$i both;
    }
}