.container {
    h2 {
        display: table;
        text-transform: uppercase;
        font-size: 1em;
        margin-bottom: 20px;
        &:after {
            border-bottom: 3px solid $color-tertiary;
            content: '';
            display: block;
            width: 15%;
          }
    }
    &__dishes {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        font-family: 'Roboto';
        margin: auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: $box-shadow;
    }
    &__text {
        width: 80%;
        font-size: 0.9em;
        .text__strong {
            font-family: 'Roboto-bold';
            font-size: 1.2em;
        }
    }
}


.price {
    width: 20%;
}