@keyframes sliding-icon {
    0% {
        left: 0;
        display: none;
        background: white;
    }
    10% {
        left: 10%;
        display: flex;
        background: $color-tertiary;
    }
    50% {
        left: 50%;
        display: flex;
        background: $color-tertiary;
    }
    100% {
        left: 100%;
        display: flex;
        background: $color-tertiary;
    }
}

@keyframes sliding-icon-back {
    0% {
        left: 100%;
        display: flex;
        background: $color-tertiary;
    }
    10% {
        left: 90%;
        display: flex;
        background: $color-tertiary;
    }
    50% {
        left: 50%;
        display: flex;
        background: $color-tertiary;
    }
    100% {
        left: 0;
        display: none;
        background: white;
    }
}

.container {
    h2 {
        text-transform: uppercase;
        font-size: 1em;
        padding-top: 20px;
        padding-bottom: 10px;
        width: 90%;
        text-align: center;
        &:after {
            border-bottom: 3px solid $color-tertiary;
            content: '';
            display: block;
            width: 4%;
            margin: auto;
            
        }
        @media all and (max-width: 500px) {
            width: 90%;
            text-align: left;
            &:after {
                width: 12%;
                margin-left: 0;
            }
        }
    }
    &__dishes {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        width: 340px;
        margin: auto;
        margin-bottom: 10px;
        background-color: white;
        border-radius: 15px;
        box-shadow: $box-shadow;
        } 
    &__text {
        display: flex;
        width: 84%;
        height: 50px;
        padding: 10px;
        overflow: hidden;
    }
    &__text2 {
        display: flex;
        width: 87%;
        padding: 10px;
        white-space: initial;
    }
    &__price {
        width: 10%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
    }
    &__price2 {
        width: 13%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        white-space: initial;
    }
    &__icon {
        overflow: hidden;
        width: 0;
        display: flex;
        padding: 10px 0 10px 0;
        left: 20px;
        background-color: $color-tertiary;
        height: 50px;
        border-radius: 0 15px 15px 0;
        justify-content: center;
        align-items: center;
        color: white;
        animation: sliding-icon-back;
        transition: all 0.25s;
    }  
    &__icon2 {
        overflow: hidden;
        width: 0;
        display: flex;
        padding: 10px 0 10px 0;
        left: 20px;
        background-color: $color-tertiary;
        border-radius: 0 15px 15px 0;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.3em;
        animation: sliding-icon-back;
        transition: all 0.25s;
    }  
}

.text-normal {
    font-family: 'Roboto';
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    line-height: 25px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &__strong {
        font-family: 'Roboto-bold';
        font-size: 1.2em;
    }
}


.text-normal2 {
    font-family: 'Roboto';
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    line-height: 25px;
    &__strong {
        font-family: 'Roboto-bold';
        font-size: 1.2em;
    }
}

.container__dishes:hover {
    .container {
        &__text {
            width: 77%;
            height: 50px;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition: 0.3s;
        }
        &__text2 {
            width: 77%;
            white-space: initial;
            overflow: hidden;
            transition: 0.3s;
        }
        &__price, &__price2 {
            width: 15%;
            transition: 0.3s;
            padding-right: 20px;
            padding-left: 0;
        }
        &__icon, &__icon2 {
            animation: sliding-icon 1s both;
            display: flex;
            padding: 10px;
            width: 20%;
            transition: 0.3s;
        }
    }
    .fas.fa-check-circle {
        animation: custom-loading 0.5s;
    }
}