body {
    width: 80%;
    margin: auto;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: black;
    border-left: solid 2px $background;
    border-right: solid 2px $background;
    @media all and (max-width: 750px) {
        width: 100%;
    }
}

header {
    text-align: center;
    margin: auto;
}

h1 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 2em;
    padding-top: 10px;
    margin: 0;
}

h2 {
    width: 80%;
    margin: auto;
    font-family: 'Roboto-bold';
    font-size: 1.4em;
}

strong {
    font-family: 'Roboto-bold';
    font-size: 1.1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    @include link-text-color (black)
}

section {
    background-color: $bg;
    padding-top: 40px;
    margin-top: 2px;
}