body {
    width: 80%;
    margin: auto;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: black;
    border-left: solid 2px $background;
    border-right: solid 2px $background;
}

header {
    text-align: center;
    margin: auto;
}

h1 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 2em;
    padding-top: 10px;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    @include link-text-color (black)
}