body {
    width: 100%;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: black;
}

header {
    text-align: center;
    margin: auto;
}

h1 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 2em;
    margin: auto;
}