a[title="Retour"] {
    position: absolute;

    top: 15px;
    left: 30px;
}

header {
    figure {
    width: 100%;
    height: 265px;
    margin: auto;
    figcaption{
        position: relative;
        z-index: 2;
        font-family: 'Shrikhand';
        text-align: left;
        background-color: $bg;
        border-radius: 35px 35px 0 0;
        margin-top: -50px;
        margin-bottom: -30px;
        padding-top: 30px;
        padding-left: -20px;
        h2{
            font-family: 'Shrikhand';
        }
        span {
            font-size: 0.8em;
            padding-left: 20px;
            cursor: pointer;
            }
        }
    }
    img {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 265px;
        overflow: hidden;
        object-fit: cover;
    }
}

.restaurant-heart {
    position: relative;
    margin-left: 70px;
    margin-top: 30px;
}

.pages-section {
    position: relative;
    z-index: 1;
    margin-top: -2px;
    padding-bottom: 20px;
}