

header {
    figure {
    width: 100%;
    height: 265px;
    margin: auto;
    }
    img {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 265px;
        overflow: hidden;
        object-fit: cover;
    }
    
}

.pages-section {
    position: relative;
    z-index: 2;
    margin-top: -2px;
}

